$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$x-address: unquote('"\\e900"');
$x-email: unquote('"\\e901"');
$x-facebook: unquote('"\\e902"');
$x-github: unquote('"\\e903"');
$x-linkedin: unquote('"\\e904"');
$x-phone: unquote('"\\e905"');
$x-twitter: unquote('"\\e906"');

